.delete-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.delete-modal-content {
    background-color: #fefefe;
    margin: 16% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 20%;
}

.edit-modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black opacity */
}

.edit-modal-content {
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 40%;*/
    margin: 2% auto;
    padding: 20px;
    width: 40%;
    border-radius: 10px;
    border: 1px solid #888;
    background-color: #fefefe;
}

.form-group-border {
    border: 1px solid #ccc;
    /*border: 1px solid #88f;*/
    border-radius: 5px;
}

.table>tbody>tr>td,
.table>tbody>tr>th {
    vertical-align: middle;
}

th {
    text-align: center;
}

a {
    float: left;
}

.badge {
    float: right;
}

.rotate180deg {
    transform: rotate(180deg) translateY(0px);
}

.input-highlighting {
    border: 1px solid red !important;
    box-shadow: none !important;
}

.help-block {
    font-size: 12px;
}

@media (min-width: 768px) {
    /*992px*/
    .border-left-marker {
        border-left: 1px solid #ccc;
    }
}

@media (min-width: 768px) {
    #search {
        width: 285px;
    }
    .search-form-group {
        padding-right: 10px;
    }
}

.border-marker {
    /*border: 1px solid blue;*/
}